<%- include('header') %>

<div class="container">
    <div class="grid">
        <% imageUrls.forEach(image => { %>
            <div class="<%= image.section %>">
                <img src="<%= image.url %>" alt="Image" style="object-fit: cover; width: 100%; height: 100%;">
            </div>
        <% }); %>
    </div>
    <div class="page-controls">
        <% if (hasPrevious) { %>
            <a href="/gallery?page=<%= parseInt(currentPage) - 1 %>" class="button">Previous</a>
        <% } %>
        <% if (hasNext) { %>
            <a href="/gallery?page=<%= parseInt(currentPage) + 1 %>" class="button">Next</a>
        <% } %>
    </div>
</div>

<%- include('footer') %>


