<%- include('header') %>


<div class="container">
    <div class="grid">
        <% imageUrls.forEach(image => { %>
        <div class="<%= image.section %>">
            <a class="gallery-image" href="/image/<%= encodeURIComponent(image.url) %>">
                <img src="<%= image.url %>" alt="Image" style="object-fit: cover; width: 100%; height: 100%;">
                <div class="image-overlay">
                    <p>Click for Full Size</p>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
    <div class="container page-controls">
        <div class="home-button">
            <a href="/" class="page-buttons">Home</a>
        </div>
        <div class="nav-buttons">
            <% if (hasPrevious) { %>
            <a href="/gallery?page=<%= parseInt(currentPage) - 1 %>" class="page-buttons">Previous</a>
            <% } %>
            <% if (hasNext) { %>
            <a href="/gallery?page=<%= parseInt(currentPage) + 1 %>" class="page-buttons">Next</a>
            <% } %>
        </div>
    </div>
</div>

<style>
    .navbar {
        display: none;
    }

    .hidden-name {
        display: none;
    }
</style>

<%- include('footer') %>